.form {
    width: 500px;
    background-color: #fff;
    padding: 0 20px 20px;
    margin: 120px auto 120px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px #dedada;
}
.form .form-body {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-body .form-label {
    font-weight: bold;
    width: 150px;
}

.form-body .form-input {
    flex-grow: 1;
}